.content--form {
  max-width: 800px;
}
form {
  background-color: #fff;
  padding: 20px 5px;
  padding-right: 11px;
  padding-bottom: 0;
  box-shadow: 2px 2px 3px rgb(98, 98, 134), -2px -2px 3px rgb(98, 98, 134);
}
.datos {
  padding: 10px;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 2px #2a3b47, -1px -1px 2px #2a3b47;
  &:nth-child(2) {
    margin-top: 20px;
  }
}
.datos legend {
  font-size: 1.2em;
  padding-bottom: 20px;
  color: #2a3b47;
  font-weight: 600;
}

.row {
  margin: 10px 0;
  > label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: 500;
    color: #2a3b47;
  }
  > div label {
    color: #778183;
  }
  input,
  select {
    display: block;
    width: 100%;
    padding: 7px 5px;
    color: grey;
    border: none;
    box-shadow: 1px 1px 2px #929a9c, -1px -1px 2px #929a9c;
    // border: 1px solid #929a9c;
  }
  input[type="radio"] {
    box-shadow: none;
  }
  input:hover,
  select:hover {
    color: black;
  }
}

.sexo {
  display: flex;
  justify-content: space-around;
  border: 1px solid #fff;
  padding: 10px 0;
}
.estado-civil {
  border: 1px solid #fff;
  padding: 10px;
  &__item {
    display: flex;
    // justify-content: space-around;
    margin: 10px 0;
    align-items: center;
    label {
      width: 150px;
    }
  }
}

.botones {
  text-align: center;
  margin: 15px 0;
  width: 100%;
  input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  a {
    display: inline-block;
    text-transform: capitalize;
    margin-top: 10px;
  }
}

@media screen and (min-width: 678px) {
  .content .title {
    font-size: 2em;
  }
  form {
    padding-left: 20px;
    padding-right: 20px;
  }
  .datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .row {
    width: 45%;
  }
  // contenedor de la  foto
  .row-9 {
    flex-grow: 1;
  }
  .estado-civil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
