// Estilos generales

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfe;
}
.content {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
input[type="submit"] {
  display: block;
  width: 100%;
  background-color: #1192ee;
  color: #fbfbfe;
  font-size: 1.2em;
}
.title {
  text-align: center;
  font-size: 1.3em;
  // color: #2a3b47;
  color: #1192ee;
}
img {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
.content--mensaje {
  text-align: center;
  box-shadow: 1px 1px 2px gray, -1px -1px 2px gray;
  max-width: 450px;
  padding-bottom: 20px;
}
@import "index";
@import "matricula";
@import "consultar";
