// Estilos generales
@import "index";
@import "matricula";
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
input[type="submit"] {
  display: block;
  width: 100%;
  background-color: rgb(39, 58, 114);
}
.title {
  text-align: center;
  font-size: 1.3em;
}
